.container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.auth__modal {
  position: absolute;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  min-height: 460px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
  left: 0px;
  right: 0px;
  bottom: 60px;
}

.cancel__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.25s;
}

.cancel__icon:hover {
  transform: rotate(90deg);
}

.logo_style {
  height: 28px;
  margin-bottom: 20px;
}

.secondry__container {
  margin-top: 10px;
}

.secondary__button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}

.secondary__button:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="password"],
[type="email"] {
  padding: 8px;
  margin: 8px;
  font-size: 17px;
  border: 2px solid rgb(121, 119, 119);
  border-radius: 5px;
}

p {
  margin: 20px 0px 20px 0px;
  font-size: 12px;
  color: #646464;
}

.auth-error {
  color: #f80505;
}

.get_the_app {
  margin-top: 30px;
}
